# Data structures
1. Sets
2. Lists
3. Tuples
4. Dictionaries

## 1. Sets {}
- Non-indexed
- Non-repeated

In [1]:
# Set creation
my_set1 = {'Alberto', 29, 'MXN', True}
print(my_set1)
print(type(my_set1))

{'MXN', 29, True, 'Alberto'}
<class 'set'>

In [2]:
my_set2 = {1, 2, 3, 4, 5, 6, 7, 8,9, 1, 2, 3}
print(my_set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
# Adding an element to a set
my_set2.add(10)
print(my_set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
# Sets operations
my_set3 = {2, 4, 6, 8, 10, 12, 14, 16}
print('Union: ', my_set2 | my_set3)
print('Intersection: ', my_set2 & my_set3)

Union:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16}
Intersection:  {2, 4, 6, 8, 10}

## 2. Lists []
- Indexed
- Mutable

In [5]:
my_list1 = ['Alberto', 29, 'MXN', True]
my_list2 = ['Dog', 'Roco', 7]

print(my_list1)
print(type(my_list1))

['Alberto', 29, 'MXN', True]
<class 'list'>

In [8]:
# Appending an element to a list
my_list1.append('xy')
print(my_list1)

['Alberto', 29, 'MXN', True, 'xy', 'xy', 'xy']

In [10]:
# Removing elements of a list
my_list1.remove('xy')
print(my_list1)

['Alberto', 29, 'MXN', True, 'xy']

In [11]:
# Insert an element in an arbitrary position
my_list1.insert(2, 'single')
print(my_list1)

['Alberto', 29, 'single', 'MXN', True, 'xy']

In [12]:
print('Civil state: ', my_list1[2])

Civil state:  single

In [13]:
my_list1[2] = 'married'
my_list1[4] = ['w1', 'w2', 'w3']
print(my_list1)

['Alberto', 29, 'married', 'MXN', ['w1', 'w2', 'w3'], 'xy']

In [14]:
my_list1.extend(my_list2)
print(my_list1)

['Alberto', 29, 'married', 'MXN', ['w1', 'w2', 'w3'], 'xy', 'Dog', 'Roco', 7]

In [15]:
my_list1[4][1] = 'Sofia'
print(my_list1)

['Alberto', 29, 'married', 'MXN', ['w1', 'Sofia', 'w3'], 'xy', 'Dog', 'Roco', 7]

### List comprehension

In [21]:
my_list3 = list()

for i in range(1, 51):
    if i%2==0:
        my_list3.append(i)
    
print(my_list3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [24]:
# list comprehension
my_list4 = [i for i in range(1, 51) if i%2==0]
print(my_list4)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

## 2. Tuples ()
- Indexed
- Non-mutable

In [16]:
my_tuple1 = ('car', True, 3.1416, 333)
print(my_tuple1)
print(type(my_tuple1))

('car', True, 3.1416, 333)
<class 'tuple'>

In [17]:
print(f'Number pi is defined as {my_tuple1[2]} and is irrational')

Number pi is defined as 3.1416 and is irrational

In [19]:
my_tuple1[2] = 3.141592

TypeError: 'tuple' object does not support item assignment

## 4. Dictionaries
- Non-indexed
- Mutable

In [25]:
# Creating a dictionary
my_dict1 = {'name':'Alberto', 'age':29, 'student':True}
print(my_dict1)
print(type(my_dict1))

{'name': 'Alberto', 'age': 29, 'student': True}
<class 'dict'>

In [26]:
# Reading the elements of a dictionary
print('Name: ', my_dict1['name'])
print('Age: ', my_dict1['age'])
print('Student?: ', my_dict1['student'])

Name:  Alberto
Age:  29
Student?:  True

In [27]:
my_dict1['student'] = False
print(my_dict1)

{'name': 'Alberto', 'age': 29, 'student': False}

In [28]:
# Showing the keys of a dictionary
print(my_dict1.keys())

dict_keys(['name', 'age', 'student'])

In [29]:
#  Showing the values
print(my_dict1.values())

dict_values(['Alberto', 29, False])